.panel{
    background-color: #C0C0C0;
    padding: 10px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
h3{
    text-align: center;
    size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}

label{
    padding-bottom: 10px;
    padding-top: 5px;
    display:block;
    margin: auto;
    width: max-content;
}
input, textarea,button, select{
    border-radius: 20px;
}
button{
    display: block;
    margin: 10px auto;
}
mat-error{
    border-color: red;
}